.form-container {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;

  label {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #333;
    text-align: left;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    select {
      color: #333; 
      width: 100%;
      padding: 18px 20px;
      border-radius: 15px;
      border: 1px solid #acacac;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      line-height: 1.5;
      background-color: white;

      &:focus {
        outline: none;
        border-color: #b88e2f;
      }

      option:disabled {
        color: #acacac; 
      }
    }
  }

  .input-field,
  .input-about {
    width: 100%;
    padding: 18px 20px;
    border-radius: 15px;
    border: 1px solid #acacac;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;

    &::placeholder {
      color: #acacac;
    }

    &:focus {
      outline: none;
      border-color: #b88e2f;
    }
  }

  .input-about {
    height: 220px;
    resize: none;
  }

  .billing-details-container {
    max-width: 100%;
    margin: 0 auto;
    gap: 44px;
    display: flex;
    flex-direction: column;

    .name-fields {
      display: flex;
      justify-content: space-between;
      gap: 16px;

      .input-field {
        width: 100%;
        height: 60px;
      }
    }

    .input-field {
      width: 100%;
      height: 60px;
    }
  }

  @media (max-width: 768px) {
    width: 90%;
    padding: 15px;

    .input-field,
    .input-about {
      font-size: 15px;
      padding: 15px;
    }

    .input-about {
      height: 180px;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    padding: 10px;

    label {
      font-size: 14px;
    }

    .input-field,
    .input-about {
      font-size: 14px;
      padding: 12px;
    }

    .input-about {
      height: 150px;
    }
  }
}
