@import "../../styles/abstracts/variables";

.feature-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: $clr-cream;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  align-items: center;
  text-align: left;

  .card-icon {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }

  .card-text {
    display: flex;
    flex-direction: column;

    .card-title {
      font-size: 1.2rem;
      color: $text-primary;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .card-description {
      font-size: 0.9rem;
      color: $text-secondary;
      font-weight: 400;
    }
  }
}
