.explore-card-wrapper {
  width: 1440px;
  height: 670px;
  position: relative;
}

.products-wrapper {
  width: 1196px;
  height: 582px;
  position: absolute;
  top: 44px;
  left: 564px;
}

.info-section {
  width: 217px;
  height: 130px;
  position: absolute;
  top: 430px;
  left: 588px;
  background-color: #f1f1f1;
}

.product-image {
  margin: 10px 0 0 564px;
  height: auto;
  object-fit: contain;
}

.redirect-button {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 512px;
  left: 805px;
  background-color: #b88e2f;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.info-top {
  h6 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #acacac;
    margin: 32px 0 0 10px;
  }
}

.info-bottom {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  white-space: nowrap;
  text-align: center;
}
