@import "../../styles/abstracts/colors";

:root {
  --text-primary: #3a3a3a;
  --text-secondary: #acacac;
  --text-third: #ffffff;

  --clr-gold: #b88e2f;
  --clr-cream: #fff3e3;
  --clr-teal: #2ec1ac;
  --clr-coral: #e97171;
  --clr-orange: #ff9900;
  --clr-light-cream: #fcf8f3;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  .pagination {
    display: flex;
    gap: 0.5rem;
  }
}

.buttonComponent {
  padding: 15px 30px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    border-color 0.3s ease;
  font-family: "Poppins", sans-serif;

  &:hover {
    background-color: var(--clr-orange);
    color: var(--text-third);
  }

  &:active {
    transform: scale(0.95);
  }

  &.currentPage {
    background-color: var(--clr-orange);
    color: var(--text-third);
  }

  &.normalPage {
    background-color: var(--clr-light-cream);
    color: var(--text-primary);

    &:hover {
      background-color: var(--clr-gold);
      color: var(--text-third);
    }
  }

  &.buyButton,
  &.showMoreButton {
    &:hover,
    &:active {
      background-color: var(--clr-orange);
      color: var(--text-third);
    }
  }

  &.buyButton {
    &:hover {
      background-color: var(--clr-orange);
    }
  }

  &.showMoreButton {
    background-color: $text-third;
    color: $clr-gold;
    border-color: $clr-gold;
    padding: 15px 120px;
    &:hover {
      background-color: var(--clr-orange);
    }
  }
}
