@import "../../styles/base/reset";
.filter-component {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;

  hr {
    border: none;
    height: 1px;
    background-color: #f1f1f1;
    width: 100%;
  }

  .filter-component-section {
    width: 100%;

    &-room {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 10px 15px;

      &-title {
        display: flex;
        width: 100%;

        p {
          display: flex;
          gap: 10px;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 19.2px;
          text-align: left;
          color: #3a3a3a;

          span {
            display: grid;
            place-items: center;
            width: 18px;
            height: 18px;
            background-color: #2ec1ac;
            color: #ffffff;
            border-radius: 100%;
            font-size: 12px;
          }
        }
      }

      > span {
        font-size: 16px;
        color: #3a3a3a;
        cursor: pointer;
      }
    }

    &-room-checkbox {
      max-width: 260px;
      padding: 10px;
      margin: 0 auto;

      label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .checkmark {
          height: 20px;
          width: 20px;
          border-radius: 4px;
          border: 2px solid #f1f1f1;
        }

        input:checked ~ .checkmark {
          background-color: #2ec1ac;
        }
      }
    }
  }
}
