@import "../../styles/base/reset";

.breadcrumbs {
  max-width: 1440px;
  background-color: #fcf8f3;
  height: 100px;
  display: flex;
  align-items: center;

  > * {
    display: inline-block;
    margin-right: 10px;
  }

  .crumb:after {
    content: ">";
    margin-left: 10px;
    color: #acacac;
  }

  .crumb p {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #acacac;
    margin: 0;
  }

  .crumb:last-child:after {
    content: ">";
    display: none;
  }
  .crumb:last-child::before {
    content: "|";
    display: none;
  }

  .crumb:last-child p {
    color: #3a3a3a;
  }
}




