.product-container {
  width: 100%;
  padding: 20px;

  .product-grid {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.product-card {
  position: relative;
  width: 190px;
  height: 312px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .new-label {
    rotate: -45deg;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff6347;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
  }

  .new-discount {
    rotate: -45deg;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
  }

  .product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .product-name {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
  }

  .product-info {
    font-size: 14px;
    color: #a3a3a3;
    margin: 5px 0;
    text-align: left;
  }

  .star-rating {
    text-align: left;
    display: flex;
    gap: 5px;

    .filled-star {
      color: #ff9900;
      font-size: 20px;
    }

    .empty-star {
      color: #ccc;
      font-size: 20px;
    }
  }

  .product-price {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-top: 10px;

    .discounted-price {
      color: #000000;
    }

    .original-price {
      font-size: 14px;
      color: #a3a3a3;
      text-decoration: line-through;
      margin-left: 5px;
    }
  }
}
