$product-card-border: 1px solid #eaeaea;
$product-card-radius: 10px;
$product-hover-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
$product-info-color: #a3a3a3;

.product-container {
  width: 900px;
  height: 956px;
  margin-left: auto;

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    margin-bottom: 40px;
  }

  @media screen and (max-width: 1024px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
 
    }
  }

  @media screen and (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);

      justify-content: center;
      padding: 0 10px;
    }
  }
}

.product-card {
  position: relative;
  width: 190px;
  height: 312px;
  border: $product-card-border;
  border-radius: $product-card-radius;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  cursor: pointer;

  &:hover {
    box-shadow: $product-hover-shadow;
  }

  .new-label,
  .new-discount {
    transform: rotate(-45deg);
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
  }

  .new-label {
    background-color: red;
  }

  .new-discount {
    background-color: #28a745;
  }

  .product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }

  .product-name {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
  }

  .product-info {
    font-size: 14px;
    color: $product-info-color;
    margin: 5px 0;
    text-align: left;
  }

  .product-price {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-top: 10px;

    .discounted-price {
      color: #000;
    }

    .original-price {
      font-size: 14px;
      color: $product-info-color;
      text-decoration: line-through;
      margin-left: 5px;
    }
  }
}

/* Large screens (1024px and up) */
@media screen and (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .product-card {
    width: 220px;
    height: auto;
  }
}

/* Medium screens (768px to 1024px) */
@media screen and (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-card {
    width: 200px;
    height: auto;

    .product-image {
      width: 100%;
      height: auto;
      max-height: 180px;
      object-fit: cover;
    }
  }
}

/* Small screens (768px and below) */
@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

    padding: 0 10px;
  }

  .product-card {
    width: 100%;
    height: auto;

    .product-image {
      width: 100%;
      height: auto;
      max-height: 300px;
      object-fit: cover;
    }
  }
}
